
<button id="shareUrl" [hidden]="!inConference" ngIIclipboard [cbContent]="ContextUrl">
    <i class="fa fa-link fa-2x"></i>
    
</button>

<div id="hero" [hidden]="inConference">
    <div class="launch">
        <label for="context">Enter a room to start talking:</label>
        <input [(ngModel)]="Context" type="text" id="context" placeholder="Enter room name..."  
        autofocus="autofocus" [disabled]="actionButtonCaption == 'JOIN'">
        <button (click)="joinConference()">{{actionButtonCaption}} </button> 
    </div>
</div>
<section>
    <div id="local">
   
    <video id="local" autoplay="autoplay" muted="muted" [src]="LocalStreamUrl"></video>
    </div>
    <div id="fullscreen-video">
        <video id="main-video" muted="muted" [src]="MainVideoUrl || 'http://ui.specbee.com/sample/bird.mp4'" autoplay="autoplay"></video>
    </div>
    <div id="videos">
        <video *ngFor="let stream of Participants" [src]="stream.url" autoplay="autoplay" (click)="changeMainVideo(stream)"></video>
    </div>

</section>
<div id="im" [hidden]="!inConference">
    <div id="im-messages">
         <p *ngFor="let im of InstantMessages">
             <time>{{im.timeStamp | date:'hh:MM'}}</time><span>{{im.text}}</span>
             </p>
    </div>
    <input type="text" 
    [(ngModel)]="InstantMessage.text" (keyup.enter)="sendIM()"
    id="im-text" placeholder="Send an instant message to all ..." />
</div>

<div style="position: absolute; top: 0; right: 0; border: 0;z-index:10000;cursor:pointer">
<a href="https://github.com/MagnusThor/thor-io.vnext.ng2.boilerplate">

<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png">

</a>
</div>

