<h1>
    SimpleChat
</h1>
<p>
  By chaning the age (number) you will be able to target other connected client with and greater or equal to the one you set. Open a new window and try set different ages.
</p>

<div>

    <label>Message:</label>
    <input [(ngModel)]="chatMessage.message" (keyup.enter)="sendMessage()">
    <label>Age:</label>

    <input type="number" [(ngModel)]="chatMessage.age" (change)="setAge()"> {{chatMessage.age}}
</div>
<div>
    <ul>
        <li *ngFor="let chatMessage of chatMessages">
            <span>{{chatMessage.message}}</span>
        </li>
    </ul>
</div>